*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

body{

    background-color: hsl(216, 92%, 15%);
    display: flex;
    flex-direction: column;
    color: white;
    font-family: 'Poppins', sans-serif;
}

main{

    background-color: black;
    color: white;
    min-height: 100vh;
    text-align: center;
}

header{

    background-color: hsl(216, 92%, 15%); 
    position: sticky;
    top: 0;
    padding: .5rem;
}

.pokemon-logo{
    
    width: clamp(100px, 20%, 200px);
}

nav{

    font-size: 1.5rem;
    padding: .3rem;
    background-color: rgb(8, 8, 22);
    width: min-content;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    margin: auto;
    
    
    
}

.prev, .next{

    text-decoration: none;
}

.pokedex-title{

    margin: 4rem;
}

.container-pokemons{
    /* background-color: brown; */
    display: grid;
    place-items: center;
    gap: 5rem;
    margin: 2.4rem;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    min-height: 100vh;
    
    
}



.box{

    width: 50px;
    height: 50px;
    background-color: blanchedalmond;
}

.none{

    display: none;
}

/*Tarjetas Pokemon*/

.poke-card{

    
    
    font-size: 2em;
    padding: 1rem;
    border-radius: .9rem;
    box-shadow: 3px 2px 38px 0px rgba(65,27,222,0.88);
    -webkit-box-shadow: 3px 2px 38px 0px rgba(65,27,222,0.88);
    -moz-box-shadow: 3px 2px 38px 0px rgba(65,27,222,0.88);
    
   
}

.poke-name{

    font-weight: bolder;
    font-size: 2.5rem;
}

.poke-img{

    width: clamp(130px,20vw,160px);
    height: min(150px,50vh);
    
}

.bug {
    background-color: #8bd674
}

.dark {
    background-color: #75747e
}

.dragon {
    background-color: #1582e7
}

.electric {
    background-color: #f2cb55
}

.fairy {
    background-color: #e98acc
}

.fighting {
    background-color: #eb4971
}

.fire {
    background-color: #ff9448
}

.flying {
    background-color: #829edb
}

.ghost {
    background-color: #6882d4
}

.grass {
    background-color: #8bbe8a
}

.ground {
    background-color: #f78551
}

.ice {
    background-color: #6bddce
}

.normal {
    background-color: #c5c9d6
}

.poison {
    background-color: #bd5fe9
}

.psychic {
    background-color: #ff787a
}

.rock {
    background-color: #d5c895
}

.steel {
    background-color: #4d92b4
}

.water {
    background-color: #58abf6
}



/*Footer*/

footer{

    padding: .3rem;
    font-size: .8rem;
    display: flex;
    justify-content: end;
    align-items: end;

}

